.imageElement--info__phone-icon {
  width: 20px;
  aspect-ratio: 1;
  margin-right: 15px;
}

.productBrandName--product-page__brand {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1.5px;
}

.productBrand--product-page__name {
  font-size: 28px;
  color: #333;
}

.imageElement--product-share__icon {
  width: 20px;
  aspect-ratio: 1;
}

.specificationsTitle {
  padding: 20px 0;
  border-bottom: 2px solid #a2dd30;
  color: rgb(63 63 63);
}

.specificationsTableContainer {
  padding: 0;
}

.imageElement--content-two__image-one {
  display: block;
  width: 80%;
  margin-top: 30px;
  margin: 30px auto 0;
  /* transform: translateX(10%); */
}

.infoCardContainer--content-two__info-card-one,
.infoCardContainer--content-two__info-card-two,
.infoCardContainer--content-two__info-card-three,
.infoCardContainer--content-two__info-card-four,
.infoCardContainer--content-two__info-card-five {
  padding: 40px 0;
}

.infoCardContainer--content-two__info-card-one,
.infoCardContainer--content-two__info-card-two,
.infoCardContainer--content-two__info-card-three,
.infoCardContainer--content-two__info-card-four,
.infoCardContainer--content-two__info-card-five {
  gap: 30px;
}

/* .infoCardHeadline--content-two__info-card-one{
  font-size: 1rem;
} */

.infoCardHeadline--content-two__info-card-two,
.infoCardHeadline--content-two__info-card-three,
.infoCardHeadline--content-two__info-card-four,
.infoCardHeadline--content-two__info-card-five {
  margin-top: 0;
  font-size: 1.5rem !important;
  color: black !important;
}

.infoCardHeadline--content-two__info-card-one {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.4 !important;
  color: black;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ mobile */

@media screen and (max-width: 1024px) {
  .imageElementLink--product__cmr-card {
    display: flex;
    justify-content: center;
  }

  .imageElement--product__cmr-card {
    max-width: 450px;
  }
}

@media screen and (max-width: 640px) {
  .infoCardContainer--content-two__info-card-one,
  .infoCardContainer--content-two__info-card-three,
  .infoCardContainer--content-two__info-card-four,
  .infoCardContainer--content-two__info-card-five{
    display: flex;
    flex-direction: column-reverse;
  }
}
