.flexCol--product-page__layout--col {
  background-color: #eee;
}

.flexRow--product-page__breadcrumb--row,
.flexRowContent--product-page__product-info--desktop,
.flexRow--product-specifications__content {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #fff;
}

.flexRowContent--product-page__product-info--desktop {
  padding: 15px 35px;
}

.flexCol--product-info__image-info {
  position: relative;
}
.flexCol--product-info__image-info::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  right: -2px;
  background-color: #eee;
}

.flexRow--product-info__data--rating-highlight {
  border-bottom: 1px solid #eee;
}

.flexRow--product__add-to-cart--container {
  margin: 25px 0;
}

.flexRowContent--product-specifications__content {
  padding: 0 40px;
  gap: 50px;
}

.flexRowContent--content-two__images-layout-one {
  padding: 30px 0;
  gap: 20px;
}

.flexRow--content-two__warranty-info--text {
  margin-top: 50px;
}

.flexRowContent--content-two__warranty-info--text {
  display: block;
}
