.label--link__top,
.label--link__bottom {
  font-size: 0.75rem;
  font-weight: bold;
}
.label--link__top {
  color: lightgray;
}
.label--link__bottom {
  color: grey;
}

.link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: min-content;
}

.label:hover {
  text-decoration: underline;
}
