/* .flexRowContent{
  max-width: 600px;
} */

.stretchChildrenWidth{
  width: auto;
  display: flex;
  align-items: center;
}
.flexRow--banner__desktop,
.flexRow--banner__phone {
  background-color: #a2dd30;
}