.flexRowContent--home__section--one {
  background-color: crimson;
}

.flexColChild--section__one--image {
  /* para que esto funcione, hay que usar "colSizing":"auto" en flex-layout.row */
  /* width: 800px; */
  width: 100%;
}

.flexRowContent--desktop__disfraces--container {
  max-width: 1280px;
  margin: 80px auto 25px;
}

.flexRow--desktop__categorias-1,
.flexRow--desktop__categorias-2 {
  max-width: 1280px;
  margin: 0 auto 25px;
}

.flexRowContent--desktop__categorias-1,
.flexRowContent--desktop__categorias-2 {
  justify-content: center;
  gap: 2vw;
}

.flexRowContent--desktop--beneficios-container {
  width: 90%;
  max-width: 1280px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.flexRowContent--home__desktop--textos-container{
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}
.flexRowContent--home__desktop--textos-container{
  gap:20px
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ phone */

.flexRowContent--mobile__categorias--container,
.flexRowContent--mobile__disfraces--container{ 
  margin-block-end: 80px;
}