.imageElement--home__disfraces--img,
.imageElement--home__categoria-desktop,
.imageElement--home__beneficio-img {
  transition: all 0.2s ease-in-out;
}

.imageElement--home__disfraces--img:hover,
.imageElement--home__categoria-desktop:hover,
.imageElement--home__beneficio-img:hover {
  filter: brightness(90%);
}

.imageElement--home__categoria-mobile {
  max-width: 200px;
}

.imageElement--home__beneficio-img:hover {
  opacity: 0.5;
}
