.sliderLayoutContainer--home__slider {
  margin-bottom: 3rem;
}

.paginationDotsContainer--home__slider {
  transform: translateY(25px);
}
.paginationDot--isActive{
  background-color: #a2dd30;
}

.sliderLayoutContainer--home__slider-tendencias {
  max-width: 1280px;
  margin: 0 auto;
}
