.headerRowBackground--header__middle--desktop {
  background-color: rgb(235 235 235);
}

/* .headerStickyRow--header__top-desktop{
  max-width: 100vw; 
  background-color: black; 
} */

/* .headerStickyRow--header__top-desktop a{
  color: white !important;
} */

.headerRowBackground--header__top-desktop {
  padding: 10px 0;
  padding-left: 15%;
  padding-right: 3%;
  border-top: 3px solid #a2dd30;
  background-color: rgb(51, 51, 51);
  color: white;
}

/* .headerSpacer{
  max-width: 300px;
} */
.headerRowContentContainer--header__bottom-1--desktop {
  /* background-color: crimson; */
  padding: 10px 0;
  padding-right: 3%;
}
.headerRowContentContainer--header__bottom-2--desktop {
  background-color: #a2dd30;
}
.headerRowContainer--header__bottom-2--desktop {
  display: flex;
  justify-content: center;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ mobile */

.headerRowBackground--header__top--mobile {
  background-color: rgb(51, 51, 51);
}
