/* .flexRowContent{
  max-width: 600px;
} */

.stretchChildrenWidth{
  width: auto;
  display: flex;
  align-items: center;
}
.flexRow--banner__desktop,
.flexRow--banner__phone {
  background-color: #a2dd30;
}

.flexRow--header__top--links{
  padding: 10px 0;
  padding-left: 15%;
  padding-right: 3%;
  border-top: 4px solid #a2dd30;
  background-color: rgb(51, 51, 51);
  color: white;
  width: 100%;
}


.flexRowContent--header__top--categorias{
  background-color: rgb(235 235 235);
  
  justify-content: flex-end;
  padding-left: 10%;
  padding-right: 3%;
  height: 60px;
  /* min-width: calc(100vw - 17px) */
}

.flexCol--header__search-bar-container{
  align-self: center;
  flex-grow: 100;
  width: 60%;
  margin-left: auto;
  
}

.flexRow--header__top-desktop .container{
  min-width: calc(100vw - 17px);
  margin: 0;

}

.flexRow--header__bottom-desktop--links .container {
  max-width: 600px;
}

/* .flexColChild--header__search-bar-container{
  outline: 2px dashed #a2dd30;
} */

/* .flexRowContent--header__top--categorias .item-stretch:nth-child(even){
  background-color: red;
} */
.flexRowContent--header__top-desktop {
  margin: 0 auto;
  width: calc(100vw - 17px);
}