/* .flexRowContent{
  max-width: 600px;
} */

.stretchChildrenWidth{
  width: auto;
  display: flex;
  align-items: center;
}
.flexRow--banner__desktop,
.flexRow--banner__phone {
  background-color: #a2dd30;
}

.flexRow--header__top--links{
  padding: 10px 0;
  padding-left: 15%;
  padding-right: 3%;
  border-top: 4px solid #a2dd30;
  background-color: rgb(51, 51, 51);
  color: white;
  width: 100%;
}

/* flexRowContent--header__top--categorias */

.flexRowContent--header__top--categorias{
  background-color: rgb(235 235 235);
  
  justify-content: flex-end;
  padding-left: 15%;
  padding-right: 3%;
}