.imageElement--home__banner-desktop {
  margin: 0 auto;
}

.container {
  vertical-align: middle;
  align-items: center;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ mobile */

.logoLink--header__logo--mobile {
  /* height: 100%; */
  /* outline: 2px solid blue; */
  /* background-color: #fff;
  display: flex;
  max-width: 15%;
  position: relative; */
  position: relative;
  align-self: flex-start;
  display: flex;
  width: 60px;
}

/* .logoContainer--header__logo--mobile  {
  height: 100%;
  background-color: teal;
  max-width: 100%;
}
*/


.logoImage--header__logo--mobile{
  /* outline: 2px solid red; */
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1.2);
  transform-origin: 0 0;
  
} 

