.galleryTitle--layout {
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 2rem;
}

.totalProducts--layout {
  padding-left: 0;
  /* padding-top: 0;
  padding-bottom: 0; */
  text-align: left;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  font-size: .8rem;
}

.galleryLayoutOptionButton {
  gap: 7px;
  padding: 0 10px;
}

.galleryLayoutOptionButton--selected {
  background-color: #eee;
  outline: 1px solid white;
}
.orderByButton {
  justify-content: flex-start;
}

.gallery {
  padding-left: 0;
  gap: 10px;
  margin: 0;
  margin-bottom: 15px;
}

.galleryItem {
  padding: 0;
}
